[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "RMOPI"]
	path = RMOPI
	url = https://github.com/cran/RMOPI
	shallow = true
	registered = true
